<div class="map-container">
    <iframe
      src="https://www.google.com/maps/d/embed?mid=1weWRbp2Baqq9p3MWPP2EztILivNrXBw&ehbc=2E312F"
      allowfullscreen
      loading="lazy">
    </iframe>
</div>

<style>
    .map-container {
      width: 100%;
      height: 100vh; /* Pleine hauteur */
    }
    iframe {
      width: 100%;
      height: 100%;
      border: none;
    }
</style>